<ion-view view-title="Hakkında">
	<ion-content style="background-color: #eee !important">
<!-- 		<button type="button" ng-click="changeState()" class="button button-balanced" name="button">Aktar</button>
		<div class="list list-borderless">
          <label class="item item-input">
            <input type="text" name="" value="" placeholder="Nickname" class="font-120 gotham-medium">
          </label>
          <label class="item item-input">
            <input type="text" name="" value="" placeholder="Where You work" class="font-110">
          </label>
        </div>
        <h4 class="padding gotham-medium color-darkgray">About</h4>
	        <label class="item item-input">
	          <textarea ng-change="showSubmitButton()"
	          ng-model="profile.attributes.about"
	          placeholder="Status"
	          class="about-me"
	          msd-elastic></textarea>
	        </label>
        <p style="margin-top: 1px;">&nbsp;</p>
        <h4 class="padding gotham-medium color-darkgray font-110">Current Work</h4>
	        <ion-item class="item-icon-right color-gray">
	          Ionic
	          <i class="icon ion-ios-arrow-forward font-130 bold"></i>
	        </ion-item>
        <p style="margin-top: 1px;">&nbsp;</p>
        <h4 class="padding gotham-medium color-darkgray font-110">School</h4>
	        <ion-item class="item-icon-right color-gray">
	          Somewhere University
	          <i class="icon ion-ios-arrow-forward font-130 bold"></i>
	        </ion-item>
        <p style="margin-top: 1px;">&nbsp;</p>
        <h4 class="padding gotham-medium color-darkgray font-110">Show My Instagram Photos</h4>
	        <ion-item class="item-icon-right color-red  gotham-light">
	          Connect Instagram
	        </ion-item>
        <p style="margin-top: 1px;">&nbsp;</p>
        <h4 class="padding gotham-medium color-darkgray font-110">Gender</h4>
	        <ion-item class="item-icon-right color-gray">
	          Male
	          <i class="icon ion-ios-arrow-forward font-130 bold"></i>
	        </ion-item>
        <p style="margin-top: 10px;">&nbsp;</p>
    </div> -->
<!-- 		<div class="list">
			<a class="item" href="#">
				{{user.userName}}
			</a>
				<a class="item" href="#">
				{{user.name}} {{user.surname}}
			</a>
				<a class="item" href="#">
				{{user.birthday | date:'d.MM.yyyy'}}
			</a>
				<a class="item" href="#">
				{{user.email}}
			</a>
				<a class="item" href="#">
				{{user.gender}}
			</a>
				<a class="item" href="#">
				{{user.school}}
			</a>
				<a class="item" href="#">
				{{user.about}}
			</a>
		</div> -->
		<div class="list">
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Kullanıcı Adı
    <span class="item-note">
      {{user.userName}}
    </span>
  </a>
			  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-person"></i>
    Adı ve Soyadı
    <span class="item-note">
      {{user.name}} {{user.surname}}
    </span>
  </a>
	  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-calendar-outline"></i>
    Doğum Tarihi
    <span class="item-note">
      {{user.birthday | date:'d.MM.yyyy'}}
    </span>
  </a>
	  <a class="item item-icon-left" href="#">
    <i class="icon ion-transgender"></i>
   Cinsiyet
    <span class="item-note">
      {{user.gender}}
    </span>
  </a>
  <a class="item item-icon-left" ng-if="user.school != null">
    <i class="icon ion-university"></i>
   Eğitim
    <span class="item-note">
      {{user.school}}
    </span>
  </a>
			  <div class="item item-divider" ng-if="user.about!=null">
    Hakkında
  </div>
			<a class="item" >
				{{user.about}}
			</a>


</div>

	</ion-content>
</ion-view>
