<ion-view view-title="Hakkında">
	<ion-content style="background-color: #eee !important">
<!-- 		<button type="button" ng-click="changeState()" class="button button-balanced" name="button">Aktar</button>
		<div class="list list-borderless">
          <label class="item item-input">
            <input type="text" name="" value="" placeholder="Nickname" class="font-120 gotham-medium">
          </label>
          <label class="item item-input">
            <input type="text" name="" value="" placeholder="Where You work" class="font-110">
          </label>
        </div>
        <h4 class="padding gotham-medium color-darkgray">About</h4>
	        <label class="item item-input">
	          <textarea ng-change="showSubmitButton()"
	          ng-model="profile.attributes.about"
	          placeholder="Status"
	          class="about-me"
	          msd-elastic></textarea>
	        </label>
        <p style="margin-top: 1px;">&nbsp;</p>
        <h4 class="padding gotham-medium color-darkgray font-110">Current Work</h4>
	        <ion-item class="item-icon-right color-gray">
	          Ionic
	          <i class="icon ion-ios-arrow-forward font-130 bold"></i>
	        </ion-item>
        <p style="margin-top: 1px;">&nbsp;</p>
        <h4 class="padding gotham-medium color-darkgray font-110">School</h4>
	        <ion-item class="item-icon-right color-gray">
	          Somewhere University
	          <i class="icon ion-ios-arrow-forward font-130 bold"></i>
	        </ion-item>
        <p style="margin-top: 1px;">&nbsp;</p>
        <h4 class="padding gotham-medium color-darkgray font-110">Show My Instagram Photos</h4>
	        <ion-item class="item-icon-right color-red  gotham-light">
	          Connect Instagram
	        </ion-item>
        <p style="margin-top: 1px;">&nbsp;</p>
        <h4 class="padding gotham-medium color-darkgray font-110">Gender</h4>
	        <ion-item class="item-icon-right color-gray">
	          Male
	          <i class="icon ion-ios-arrow-forward font-130 bold"></i>
	        </ion-item>
        <p style="margin-top: 10px;">&nbsp;</p>
    </div> -->
		<div class="list">
			<a class="item" href="#">
				{{user.userName}}
			</a>
				<a class="item" href="#">
				{{user.name}} {{user.surname}}
			</a>
				<a class="item" href="#">
				{{user.birthday | date:'d.MM.yyyy'}}
			</a>
				<a class="item" href="#">
				{{user.email}}
			</a>
				<a class="item" href="#">
				{{user.gender}}
			</a>
				<a class="item" href="#">
				{{user.school}}
			</a>
				<a class="item" href="#">
				{{user.about}}
			</a>
		</div>

	</ion-content>
</ion-view>
