<ion-view view-title="Devam Eden Etkinlikler">
    <ion-content ng-class="{expanded:isExpanded}">
     <div class="list card" ng-repeat="event in activeEvents track by $index">

        <div class="item item-avatar">
          <img src="{{event.image}}">
          <h2>  {{event.name}}</h2>
          <p>{{event.createDate}}</p>
        </div>

        <div class="item item-body">

          <a href="#/app/profile/{{story.userid}}">
          <p>
            {{event.about}}
          </p>
          </a>
          <p>
            <a href="#" class="subdued">{{}}</a>
            <a href="#" class="subdued">{{}}</a>
            <a class="item item-icon-left assertive" ng-href="#/app/eventdetail/{{event.id}}">
              <i class="icon ion-ios-book"></i>
              Aktivite Ayrıntıları
            </a>
               <a class="item item-icon-left assertive" ng-href="#/app/appliedevent/{{event.id}}">
              <i class="icon ion-ios-book"></i>
              Aktivite Başvuruları
            </a>
          </p>
        </div>

      </div>
    </ion-content>
</ion-view>
