<!-- <div class="bar bar-header bar-positive flat">
 <h1 class="title">Hikaye Yarat</h1>
 <button class="button button-icon icon ion-plus-circled flat pull-right" ng-click="getContent(data)"></button>
</div> -->

<ion-view view-title="Hikaye Yarat">
<div class="drop-box" ng-click="updatePhoto()">

  <i class="icon ion-images" aria-hidden="true" ng-if="!AddPic">Hikayenin Fotosunu Güncelle</i>
  <img ng-src="{{story.image}}" style="max-width:100%; max-height:100%;" ng-if="AddPic" alt="">

</div>
 <ion-content ng-class="{expanded:isExpanded}" id="image-picker-content">

  <div class="list">
       <md-input-container class="md-block" flex-gt-sm="">
      <label>Hikayenizin başlığını giriniz</label>
      <input type="text" ng-model="story.name">
    </md-input-container>

<!--
   <trix-editor ng-if="true" ng-model-options="{ updateOn: 'blur' }" spellcheck="false" class="trix-content" ng-model="data.tinymceModel"
   angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);"
   trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);" trix-file-accept="trixFileAccept(e, editor);"
   trix-attachment-add="trixAttachmentAdd(e, editor);" trix-attachment-remove="trixAttachmentRemove(e, editor);" placeholder="Hikayene açıklama yaz..."></trix-editor> -->
   <div class="chipsdemoBasicUsage">
     <md-chips placeholder="Etiket Ekleyin" ng-model="story.tags" readonly="false" md-removable="story.removable"></md-chips>
   </div>
   <br><br>
   <md-select placeholder="Kategori Ekleyin" ng-model="story.categoryID">
     <md-option><em>Seçiniz</em></md-option>
     <md-option ng-repeat="category in categories" ng-value="category.id">
       {{category.name}}
     </md-option>
   </md-select>
    <br> <br>
    <md-input-container>
       <textarea ng-model="story.description" rows="2" cols="600"  maxlength="2000" placeholder="Hikayeniz hakkında bir şeyler yazın"></textarea>
        <span class="item-note">
             {{2000 - story.description.length}}
            </span>
    </md-input-container>
     </div>
  </ion-content>
     <div class="bar bar-footer bar-positive" ng-click="updateStory(story) ">
      <div class="title">Değişiklikleri Kaydet</div>
     </div>
</ion-view>
