<ion-view view-title="Etkinliğe Başvur">
<div class="drop-box" ng-click="deneme()">
  <i class="icon ion-images" aria-hidden="true"></i>  Etkinlik yazına foto ekle
</div>
 <ion-content ng-class="{expanded:isExpanded}" id="image-picker-content">

  <div class="list">
       <md-input-container class="md-block" flex-gt-sm="">
      <label>Yazınızın başlığını giriniz</label>
      <input type="text" ng-model="event.title">
    </md-input-container>


   <trix-editor ng-if="true" ng-model-options="{ updateOn: 'blur' }" spellcheck="false" class="trix-content" ng-model="event.text"
   angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);"
   trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);" trix-file-accept="trixFileAccept(e, editor);"
   trix-attachment-add="trixAttachmentAdd(e, editor);" trix-attachment-remove="trixAttachmentRemove(e, editor);" placeholder="Hikayene açıklama yaz..."></trix-editor>


     </div>
  </ion-content>
     <a class="bar bar-footer bar-positive" ng-click="applyEvent() ">
      <div class="title">Başvur</div>
    </a>
</ion-view>
