<!--         <ion-nav-bar class="bar-positive " ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
        </ion-nav-bar> -->
<div class="bar bar-header bar-positive">
  <div class="h1 title">kittbook</div>
  <button class="button button-clear icon ion-android-search" ui-sref="app.search"></button>
</div>
<ion-view>

  <ion-tabs class="tabs-striped tabs-background-positive tabs-color-light tabs-top" delegate-handle="myTabs">

    <ion-tab title="En Yeniler" ng-click="setOrderProperty('createDate')" href="#/app/home">
    </ion-tab>
    <ion-tab title="En Beğenilenler" ng-click="setOrderProperty('storyrate')" >

    </ion-tab>
    <ion-tab title="Kategoriler" ui-sref="app.categories">
    </ion-tab>
  </ion-tabs>

  <ion-content ng-class="{expanded:isExpanded}" class="has-subheader">

    <div class="list card" ng-repeat="story in stories | categoryFilter: filterProperty |orderBy: orderProperty : false">

      <div class="item item-avatar">
        <img src="{{story.userImage}}">
        <h2>  {{story.name}}</h2>
        <time>{{ story.createdate | amCalendar }}</time>
      </div>

      <div class="item item-body">
        <a ui-sref="app.storydetail({storyid:story.id})">
          <img class="full-image" src="{{story.image}}">
        </a>

        <p ng-bind-html='story.description |limitTo:75'>

        </p>
        <p>
          <a href="#" class="subdued"><i class="icon assertive icon-small ion-ios-star"></i> {{story.storyrate}} </a>
          <a href="#" class="subdued" ng-href="#/app/storydetail/{{story.id}}"><i class="icon assertive icon-small ion-ios-skipforward"></i> Oku </a>
          <a href="#" class="subdued"><i class="icon assertive icon-small ion-ios-eye"></i> {{story.readcount}} </a>
        </p>
      </div>

    </div>

  </ion-content>
  <ion-tabs class="tabs-striped tabs-outline tabs-icon-top">

    <ion-tab title="View" icon-on="ion-ios-home" href="#/app/home" icon-off="ion-ios-home-outline">

    </ion-tab>

    <ion-tab title="Etkinlikler" icon-on="ion-ios-clock" ui-sref="app.userevent" icon-off="ion-ios-clock-outline">
      <!-- Tab 2 content -->
    </ion-tab>
    <ion-tab title="Yaz" icon-on="ion-edit" icon-off="ion-edit" href="#/app/newstory">
      <!-- Tab 1 content -->
    </ion-tab>
    <ion-tab title="Kollektif Kitaplar" icon-on="ion-ios-clock" ui-sref="app.collectivebook" icon-off="ion-ios-clock-outline">
      <!-- Tab 2 content -->
    </ion-tab>
    <ion-tab title="Profil" icon-on="ion-ios-gear" ui-sref="app.profile" icon-off="ion-ios-gear-outline">
    </ion-tab>


  </ion-tabs>




</ion-view>
