<!--         <ion-nav-bar class="bar-positive " ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
        </ion-nav-bar> -->
<!-- <ion-header-bar align-title="center" class="bar-positive" ng-if=true>
<div class="buttons"><button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left"></button></div>
  <h1 class="title">kittbook</h1>
 <div class="buttons">  <button class="button button-clear icon ion-android-search" ui-sref="app.search"></button></div>

</ion-header-bar> -->
<!-- <div class="bar bar-header bar-positive">

  <div class="h1 title">kittbook</div>
  <button class="button button-clear icon ion-android-search" ui-sref="app.search"></button>
</div> -->
<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons"><button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left"></button></div>
    <h1 class="title">kittbook</h1>
   <div class="buttons">  <button class="button button-clear icon ion-android-search" ui-sref="app.search"></button></div>

  </ion-header-bar>
  <ion-tabs class="tabs-striped tabs-positive tabs-color-light tabs-top" delegate-handle="myTabs">

    <ion-tab title="En Yeniler" ng-click="getNewStories()">
    </ion-tab>
    <ion-tab title="En Beğenilenler" ng-click="getMostRated()">
    </ion-tab>
    <ion-tab title="Kategoriler" ui-sref="app.categories">
    </ion-tab>
  </ion-tabs>

  <ion-content ng-class="{expanded:isExpanded}" class="has-subheader">
  <ion-refresher on-refresh="doRefresh()">
  </ion-refresher>
<!--      <div class="list card" ng-repeat="story in stories | categoryFilter: filterProperty |orderBy: orderProperty : false">

      <div class="item item-avatar">
        <img ui-sref="app.profile({userid:story.ownerID})" ng-src="{{story.userImage}}">
        <h2>  {{story.name}}</h2>
        <time>{{ story.createdate | amCalendar }}</time>
      </div>

      <div class="item item-body">
        <a ui-sref="app.storydetail({storyid:story.id})">
          <img class="full-image" ng-src="{{story.image}}">
        </a>
        <p ng-bind-html='story.description |limitTo:150'>
        </p>
        <p>
          <a href="#" class="subdued"><i class="icon assertive icon-small ion-ios-star"></i> {{story.storyrate}} </a>
          <a href="#" class="subdued" ng-href="#/app/storydetail/{{story.id}}"><i class="icon assertive icon-small ion-ios-skipforward"></i> Oku </a>
          <a href="#" class="subdued"><i class="icon assertive icon-small ion-ios-eye"></i> {{story.readcount}} </a>
        </p>
      </div>

    </div> -->
    <div class="list card" class="item-thumbnail-left item-icon-right
      item-text-wrap" ng-repeat="story in stories">
      <ion-item>
      <div class="item item-avatar">
        <img ui-sref="app.profile({userid:story.ownerID})" ng-src="{{story.userImage}}">
        <h2 style="font-family: Georgia;">  {{story.name}}</h2>
        <p class="sub-title" style="color:#417D9A;">{{ story.createdate|amCalendar }}</p >
      </div>
          <div class="item item-image" ui-sref="app.storydetail({storyid:story.id})">
        <img ng-src="{{ story.image }}" >
      </div >
      <div class="item item-body">
        <p ng-bind-html='story.description |limitTo:150'>
        </p>
        <p>
          <a class="subdued"><i class="icon assertive icon-small ion-ios-star"></i> {{story.storyrate}} </a>

          <a class="subdued"><i class="icon assertive icon-small ion-ios-eye"></i> {{story.readcount}} </a>
        </p>
      </div>

      <ion-option-button class="button-dark"
        ng-click="toggleStar(item)">
        <i class="icon ion-star"></i>
      </ion-option-button>
      </ion-item>
    </div>
      <ion-infinite-scroll
        on-infinite="loadMoreStories()">
      </ion-infinite-scroll>
      <i class="icon ion-ios-arrow-up"></i>
  </ion-content>
  <ion-tabs class="tabs-striped tabs-positive tabs-icon-top">
    <ion-tab title="Ana Sayfa" icon-on="ion-ios-home" href="#/app/home" icon-off="ion-ios-home-outline">

    </ion-tab>

    <ion-tab title="Etkinlikler" icon-on="ion-film-marker" ui-sref="app.userevent" icon-off="ion-film-marker">
      <!-- Tab 2 content -->
    </ion-tab>
    <ion-tab title="Yaz" icon-on="ion-edit" icon-off="ion-edit" href="#/app/newstory">
      <!-- Tab 1 content -->
    </ion-tab>
    <ion-tab title="Kollektif Kitaplar" icon-on="ion-ios-clock" ui-sref="app.collectivebook" icon-off="ion-ios-clock-outline">
      <!-- Tab 2 content -->
    </ion-tab>
    <ion-tab title="Profil" icon-on="ion-ios-person" ui-sref="app.profile" icon-off="ion-ios-person-outline">
    </ion-tab>
  </ion-tabs>
</ion-view>
