<ion-view view-title="{{story.name}}">
  <ion-content ng-class="{expanded:isExpanded}">
<!--       <div class="hero slide-up static" style="background-image: url('img/profile-bg.jpg');">
      </div> -->

        <div class="hero" style="background-image: url('{{story.image}}'); background-color: #eee">

        </div>

        <div class="list">
          <div class="item item-divider">
            Düzenle
          </div>
          <a class="item item-icon-left" ui-sref="app.editstory({storyid:story.id})">
            <i class="icon ion-document-text"></i>
            Hikayeni Düzenle
          </a>
          <a class="item item-icon-left" ng-if="story.isPublished !== 1" ng-click="publish(story.id)">
            <i class="icon ion-printer"></i>
            Yayınla
          </a>
          <a class="item item-icon-left" ng-if="story.isPublished === 1" ng-click="withdraw(story.id)">
            <i class="icon ion-eject"></i>
            Yayından kaldır
          </a>
          <a class="item item-icon-left" ng-click="toggleGroup(group)">
            <i class="icon ion-eye"></i>
            Hikayenin Bölümlerini Gör
            <span class="badge badge-assertive">{{length}}</span>
          </a>
          <ion-item class="item-accordion"
                   ng-repeat="chapter in chapters"
                   ng-show="isGroupShown(group)">
           <div ui-sref="app.chapterdetail({chapterid:chapter.id})">{{chapter.name}}</div>
         </ion-item>
          <a class="item item-icon-left" ui-sref="app.newchapter({storyid:storyid})">
            <i class="icon ion-ios-plus"></i>
            Hikayene yeni bölüm ekle
          </a>
          <a class="item item-icon-left" ui-sref="app.storydetail({storyid:storyid})">
            <i class="icon ion-arrow-move"></i>
            Hikayenin Yayındaki Halini Gör
          </a>

          <div class="item item-divider">
          Bilgiler
          </div>

          <a class="item">
            Yazılmaya başlangıç tarihi
              <span class="item-note">
              {{story.createdate | amCalendar}}
            </span>
          </a>
          <a class="item ">
            Okunma Sayısı
           <span class="item-note">
              {{story.readcount}}
            </span>
          </a>

          <a class="item ">
            Puan
            <span class="item-note">
              {{story.storyrate}}
            </span>
          </a>

          <a class="item" href="#">

            Yorumlar
           <span class="item-note">
              {{story.commentCount}}
            </span>
          </a>
          <a class="item">

            Kategori
           <span class="item-note">
              {{categoryname}}
            </span>
          </a>

      </div>
  </ion-content>
</ion-view>
Hakkında
Hikayenin oluşturulma Tarihi
Okunma Sayısı
Puanı
Yorum sayısı
