<div class="bar bar-header bar-positive flat">
 <h1 class="title">Hikaye Yarat</h1>
 <button class="button button-icon icon ion-plus-circled flat pull-right" ng-click="getContent(data)"></button>
</div>
<ion-view view-title="Hikaye Yarat">
 <ion-content class="has-subheader">

<!--  <textarea ui-tinymce="tinymceOptions" ng-model="data.tinymceModel" ></textarea>
 -->
   
   <trix-editor ng-if="true" angular-trix ng-model="data.tinymceModel"></trix-editor>
   {{data.tinymceModel}}
 </ion-content>
</ion-view>
