<ion-view view-title="Bildirimler">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="item card-item" ng-repeat="notification in userNotifications">
            <div class="card stable-bg ink ink-dark" ng-style="{'background-color':notification.hasRead == 0 ?  'white': ''}" ng-click="readNotification(notification)">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('{{image}}');"></span>
                    {{notification.text}}
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> <span class="sub-title" style="color:#417D9A;">{{ notification.createDate|amCalendar }}</span></div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
    <ion-tabs class="tabs-striped tabs-positive tabs-icon-top">
      <ion-tab title="Ana Sayfa" icon-on="ion-ios-home" href="#/app/home" icon-off="ion-ios-home-outline">

      </ion-tab>
      <ion-tab title="Bildirimler" icon-on="ion-android-notifications" ui-sref="app.notification" icon-off="ion-android-notifications-none">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab title="Yaz" icon-on="ion-edit" icon-off="ion-edit" href="#/app/newstory">
        <!-- Tab 1 content -->
      </ion-tab>
      <ion-tab title="Etkinlikler" icon-on="ion-film-marker" ui-sref="app.userevent" icon-off="ion-film-marker">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab title="Profil" icon-on="ion-ios-person" ui-sref="app.profile" icon-off="ion-ios-person-outline">
      </ion-tab>
    </ion-tabs>
</ion-view>
