<ion-view view-title="Kullanıcı Hikayeleri d">
    <ion-content ng-class="{expanded:isExpanded}" style="background-color: #eee !important" >
<!--       <div class="list item-image">
        <a href="#/{{item.id}}"
            class="item item-thumbnail-left padding" ng-repeat="userstory in userStories">
          <img ng-src="{{userstory.image}}">
          <h2>{{userstory.name}}</h2>
          <h4>{{userstory.description}}</h4>
        </a>
      </div>-->
      <br>
      <div class="list">

        <a ng-repeat="userstory in userStories"
           ng-href="#/app/storydetail/{{userstory.id}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ userstory.image }}">
          <h2>{{ userstory.name }}</h2>
          <p class="sub-title" style="color:#417D9A;">{{ userstory.createdate|amCalendar }}</p >
           <br>
         </a>

      </div>
<!--       <a class="item item-list-detail">
            <ion-scroll direction="x">
                <img ng-repeat="userstory in userStories" ng-src="{{userstory.image}}" class="image-list-thumb"/>
            </ion-scroll>
        </a> -->

    </ion-content>
</ion-view>
