<!--View Information-->
<!--View name : NEWS Feed-->
<!--State name : app.newsFeed-->
<!--URL : #app/newsFeed-->

<ion-view title="NEWS">
    <!--news feed section-->
    <ion-content id="news-feed-content" style="background-color: #eee !important">

        <div class="news-item">

            <!--header section-->
            <div class="row header">
                <div class="col-20">
                    <img src="img/arya.jpg" class="user-img"/>
                </div>
                <div class="col-60">
                   <span class="name">
                        John Smith
                   </span>
                    <br/>
                   <span class="datetime">
                       1 hours ago
                   </span>
                </div>
                <div class="col-20">
                  <i class="icon ion-android-cancel"></i>
                </div>
            </div><!--end header section-->

            <!--detail section-->
            <div class="row detail">
                <div class="col">
                    <h1>
                        Material is the metaphor
                    </h1>

                    <p class="content">
                        A material metaphor is the unifying theory of a rationalized space and a system of motion. The
                        material is grounded in tactile reality, inspired by the study of paper and ink, yet
                        technologically advanced and open to imagination and magic.
                    </p>

                    <p class="content">
                        http://google.com/design/spec/material-design/
                    </p>

                    <p class="tags">
                        <i class="fa fa-tags"></i> Material Design, Ionic
                    </p>
                </div>
            </div>

        </div>


        <div class="row"></div>
    </ion-content><!--end news feed section-->

</ion-view>
