<ion-view view-title="{{story.name}}">
    <ion-content ng-class="{expanded:$scope.isExpanded}" overflow-scroll='false' delegate-handle="userDetailContent" on-scroll="onUserDetailContentScroll()" header-shrink scroll-event-interval="5" style="background-color:#eee;">
      <div class="about-header">
          <ion-slide-box auto-play="false" show-pager="false">
            <ion-slide>
            <div class="profile-media">
              <div class="profile-details">
                <h5 class="color-white">
                  {{story.name}}
                </h5>
                <p>
                  {{story.nameSurname}}
                </p>
              </div>
              <img ng-src="{{story.image}}" class="about-image profile-background-image" style="vertical-align:middle;">
                  <button class="button button-large button flat waves-effect waves-button waves-light icon ion-ios-compose pull-right text-white"></button>
            </div>
            </ion-slide>
          </ion-slide-box>
<!--         <div class="row like-btn">
          <div class="col text-right">
            <div ng-class="liked ? 'bg-color-red like-button-with-text':'bg-color-white like-button'" ng-click="like()">
              <i class="ion-heart" ng-class="liked ? 'color-white':'color-red'"></i>
              <span ng-if="liked">Liked</span>
            </div>
          </div>
        </div> -->
    </div>
<!--   First Card -->
   <div class="list card ">

      <div class="item item-divider">
        <p style="color:#417D9A;">Ön Yazı</p>
      </div>

      <div class="item item-text-wrap item-button-right" >
        <span ng-bind-html="story.description| limitHtml: descriptionLimit" ></span><a ng-if="ifLimitto" ng-click="increaseDescription()">...</a>
        <div class="content padding-top">
          <a href="#" class="subdued"><i class="icon icon-small ion-ios-star" style="color:#417D9A;"></i> {{story.storyrate}} </a>
          <a href="#" class="subdued"><i class="icon icon-small ion-ios-eye" style="color:#417D9A;"></i> {{story.readcount}} </a>
          <a ng-click="modal.show()" class="subdued"><i class="icon icon-small ion-chatbubbles" style="color:#417D9A;"></i> {{story.commentCount}} </a>
        </div>

      </div>

      <a class="item item-icon-left item-button-right item-icon-small balanced" ng-if="alreadyHave && !isOwnStory">
        <i class="icon ion-android-add" ng-click="deleteStoryFromLibrary()"><span style="font-size:small;font-family: Georgia;">Kitaplığınızda Ekli</span> </i>

        <button class="button button-clear" ng-if="!chapters.length==0" ui-sref="app.chapterdetail({chapterid:chapters[0].id})">
          <i class="icon ion-ios-skipforward"></i>
        </button>
      </a>

      <a class="item item-icon-left item-button-right item-icon-small" ng-if="!alreadyHave && !isOwnStory" >
        <i class="icon ion-bookmark" ng-click="addToLibrary()"  style="color:#a3a29f; font-family: Georgia;"> <span style="font-size:small;">Kitaplığa Ekle</span> </i>

        <button class="button button-clear " ng-if="!chapters.length==0" ui-sref="app.chapterdetail({chapterid:chapters[0].id})">
          <i class="icon ion-ios-skipforward" style="color:#417D9A;"></i>
        </button>
      </a>
       <a class="item item-icon-left item-button-right item-icon-small" ui-sref="app.managestory({storyid:storyid})" ng-if="isOwnStory" >
        <i class="icon ion-bookmark" style="color:#a3a29f;"> <span style="font-size:medium;">Hikayeni Düzenle</span> </i>

        <button class="button button-clear" ng-if="!chapters.length==0" ui-sref="app.chapterdetail({chapterid:chapters[0].id})">
          <i class="icon ion-ios-skipforward"></i>
        </button>
      </a>
</div>

<!--       End -->

   <div class="list card" >
      <div class="item item-divider">
        <p style="color:#417D9A;">Bölümler</p>
      </div>

    <div class="item item-text-wrap" ng-if="chapters.length==0">
      Bölüm eklenmedi <i class="icon ion-android-sad assertive"></i>
    </div>


   <div class="card" ng-repeat="chapter in chapters" ng-if="chapters.length!=0">
      <!-- <div class="item item-text-wrap">
        {{chapter.name}}
      </div> -->
     <!--   <a class="item item-text-wrap" ui-sref="app.chapterdetail({chapterid:chapter.id})">
          {{chapter.name}}
        </a> -->

        <ion-list>
          <ion-item ui-sref="app.chapterdetail({chapterid:chapter.id})">
            {{chapter.name}}
          </ion-item>
        </ion-list>
    </div>
    </div>



  </ion-content>
      <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Yorumlar</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">X</button>
        </ion-header-bar>
        <ion-content class="padding" style="background-color:#eee">
          <div class="list">

              <a class="item item-avatar" href="#" ng-repeat="comment in comments">
                <img ng-src="{{comment.userImage}}">
                <h2>{{comment.userName}}</h2>
                <p ng-bind-html="comment.text"></p>
                <br>
              </a>
          </div>
        </ion-content>
        <form name="sendMessageForm" ng-submit="sendComment(comment)" novalidate>
            <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
                <label class="item-input-wrapper">
                    <textarea ng-model="comment.message" value="" placeholder="Yorum Yaz" required minlength="1" maxlength="350" msd-elastic></textarea>
                </label>
                <div class="footer-btn-wrap">
                  <button class="button icon ion-android-send" type="submit"
                      ng-disabled="!comment.message || comment.message === ''" >
                  </button>
                </div>
            </ion-footer-bar>
        </form>
      </ion-modal-view>
    </script>
</ion-view>
