<ion-view view-title="Story Detail">
    <ion-content ng-class="{expanded:$scope.isExpanded}" overflow-scroll='false' delegate-handle="userDetailContent" on-scroll="onUserDetailContentScroll()" header-shrink scroll-event-interval="5">
      <div class="about-header">
          <ion-slide-box auto-play="false" show-pager="false">
            <ion-slide>
            <div class="profile-media">
              <div class="profile-details">
<!--                 <img  ng-src="{{story.userImage}}" class="img-circle profile-image"> -->
                <h5 class="color-white">
                  {{story.name}}
                </h5>
                <p>
                  {{story.nameSurname}}
                </p>
              </div>
              <img ng-src="{{story.image}}" class="about-image profile-background-image" style="vertical-align:middle;">
            </div>
            </ion-slide>
          </ion-slide-box>
<!--         <div class="row like-btn">
          <div class="col text-right">
            <div ng-class="liked ? 'bg-color-red like-button-with-text':'bg-color-white like-button'" ng-click="like()">
              <i class="ion-heart" ng-class="liked ? 'color-white':'color-red'"></i>
              <span ng-if="liked">Liked</span>
            </div>
          </div>
        </div> -->
    </div>
<!--   First Card -->
   <div class="list card ">

      <div class="item item-divider item-assertive">
        Hakkında
      </div>

      <div class="item item-text-wrap" >
        <div ng-bind-html="story.description| limitHtml: 250" ></div>
        <div class="content padding-top">
          <a href="#" class="subdued"><i class="icon assertive icon-small ion-ios-star"></i> {{story.storyrate}} </a>
          <a href="#" class="subdued"><i class="icon assertive icon-small ion-ios-eye"></i> {{story.readcount}} </a>
        </div>
      </div>

      <a class="item item-icon-left item-button-right item-icon-small balanced" href="#" ng-if="alreadyHave && !isOwnStory">
        <i class="icon ion-checkmark-round" ng-click="deleteStoryFromLibrary()"><span style="font-size:small">Kitaplığınızda Ekli</span> </i>

        <button class="button button-clear" ng-if="!chapters.length==0" ui-sref="app.chapterdetail({chapterid:chapters[0].id})">
          <i class="icon ion-ios-skipforward"></i>
        </button>
      </a>

      <a class="item item-icon-left item-button-right item-icon-small assertive" href="#" ng-if="!alreadyHave && !isOwnStory" >
        <i class="icon ion-bookmark" ng-click="addToLibrary()"> <span style="font-size:small;">Kitaplığa Ekle</span> </i>

        <button class="button button-clear" ng-if="!chapters.length==0" ui-sref="app.chapterdetail({chapterid:chapters[0].id})">
          <i class="icon ion-ios-skipforward"></i>
        </button>
      </a>
       <a class="item item-icon-left item-button-right item-icon-small assertive" href="#" ng-if="isOwnStory" >
        <i class="icon ion-bookmark"> <span style="font-size:small;">Senin Hikayen</span> </i>

        <button class="button button-clear" ng-if="!chapters.length==0" ui-sref="app.chapterdetail({chapterid:chapters[0].id})">
          <i class="icon ion-ios-skipforward"></i>
        </button>
      </a>


<!--       End -->
   <div class="card" >
      <div class="item item-divider item-positive" style="bold">
        Bölümler
      </div>
  </div>
  <div class="card" ng-if="chapters.length==0">
    <div class="item item-text-wrap">
      Bölüm eklenmedi <i class="icon ion-android-sad assertive"></i>
    </div>
  </div>
 <div class="card" ng-repeat="chapter in chapters">
    <!-- <div class="item item-text-wrap">
      {{chapter.name}}
    </div> -->
     <a class="item item-text-wrap" ui-sref="app.chapterdetail({chapterid:chapter.id})">
        {{chapter.name}}
      </a>
  </div>


  </ion-content>
</ion-view>
