<!--View Information-->
<!--View name : Restaurant-->
<!--State name : app.restaurant-->
<!--URL : #app/restaurant-->

<ion-view title="Kategoriler">
    <!--restaurant section-->
    <ion-content id="restaurant">
        <!--slider section-->
        <ion-slide-box id="restaurant-slide-box"  show-pager="true" active-slide="activeCategory"  on-slide-changed="reportSlideChanged(index+1)">
            <ion-slide ng-repeat="category in categories" ng-style="{'background-image': 'url(' + category.image + ')', 'background-size' : '100% 100%', 'width':'100%', 'height':'100%'}">

<!--               style="background-image: url('img/rsz_1rsz_1rsz_Teknoloji.jpg');background-repeat: no-repeat; background-size: 100% 100%;width: 100%;height:100%;" -->
                <div class="content">
                    <h1>
                        {{category.name}}
                    </h1>
                    <p>
                        {{category.description}}
                    </p>
                </div>
            </ion-slide>

        </ion-slide-box><!--end slider section-->

        <!--restaurant content section-->
        <div id="restaurant-content">
            <div class="row ">
                <div class="col promotions-header">
                    <h1>
                        <i class="fa fa-bullhorn"></i> Hikayeler
                    </h1>
                </div>
            </div>
        <div class="list card" ng-repeat="story in stories | categoryFilter: filtersProperty">

            <div class="item item-avatar">
              <img src="{{story.writerImage}}">
              <h2>  {{story.name}}</h2>
              <time>{{ story.createdate | amCalendar }}</time>
            </div>

            <div class="item item-body">
              <img class="full-image" src="{{story.image}}">
              <p ng-bind-html='story.description'>

              </p>
              <p>
                <a href="#" class="subdued"><i class="icon assertive icon-small ion-ios-star"></i> {{story.storyrate}} </a>
                 <a href="#" class="subdued"><i class="icon assertive icon-small ion-ios-skipforward"></i> Oku </a>
<!--
                <a class="item item-icon-right assertive " ng-href="#/app/storydetail/{{story.id}}">
                  <i class="icon ion-ios-skipforward" style="font-size: smaller;"></i>
                </a> -->

              </p>
            </div>
        </div>
        </div> <!--end restaurant content section-->
    </ion-content><!--end restaurant section-->
</ion-view>
