
<ion-view view-title="Etkinlikler">
  <ion-tabs class="tabs-striped tabs-positive tabs-color-light tabs-top">

    <ion-tab title="Başlayan Etkinlikler"   ng-click="setEvents(2)">
    </ion-tab>
    <ion-tab title="Başlayacak Etkinlikler" ng-click="setEvents(1)">

    </ion-tab>
    <ion-tab title="Etkinlik Türleri" ng-click="modal.show()">
    </ion-tab>
  </ion-tabs>
    <ion-content ng-class="{expanded:isExpanded}" class="has-subheader">
      <div ui-sref="app.usereventdetail({id:event.id})"class="list card" ng-repeat="event in activeEvent|eventFilter:filterProperty | eventTypeFilter:eventFilterProperty | orderBy: orderProperty : true">

        <div class="item item-avatar">
          <img ng-src="{{event.image}}">
          <h2>  {{event.name}} - ({{event.type}})</h2>
          <p>{{event.createDate}}</p>
        </div>

        <div class="item item-body">
        <div class="item" ng-bind-html="event.about"> </div>
          <p class="item item-icon-left item-button-right assertive">
            <i class="icon ion-ios-stopwatch-outline"></i>
          {{event.text1}}
             <timer countdown="event.decideToTime" max-time-unit="'hour'" language="tr" interval="1000">
                 {{yearUnit}} </timer> {{event.text2}}
                 <!-- <p>
                   <a class="button button-clear button-block button-positive" ng-if="event.removeApply" ng-href="#/app/eventapply/{{event.id}}">Başvur</a>
                   <a class="button button-clear button-block button-positive" ng-if="event.writerEventApplyButton" ng-click="applyForWriterEvent(event.id)">Başvur.</a>
                </p> -->
           </p>
        </div>
      </div>
    </ion-content>
<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Etkinlik Türleri</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">X</button>
        </ion-header-bar>
        <ion-content class="padding">
        <ion-list>
        <ion-radio ng-repeat="item in radioEventType"
                   ng-value="item.value"
                   ng-model="data.choice"
                   ng-change="typeChanged(item)">
          {{ item.name }}
        </ion-radio>
        </ion-list>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>
