<ion-view view-title="Gönderiler">
    <ion-content ng-class="{expanded:isExpanded}" >
      <div class="list">
        <div ng-repeat="post in posts">
            <div id="news-feed-content">
                <div class="news-item">
                    <div class="row header">
                        <div class="col-20">
                            <img ng-src="{{user.image}}" class="user-img"/>
                        </div>
                        <div class="col-75">
                           <span class="name">
                              {{user.name}} {{user.surname}}
                           </span>
                            <br/>
                           <span class="datetime">
                               {{post.postDate | amCalendar}}
                           </span>
                        </div>
                        <div class="col-5" ng-if="isOwnProfile" >
                          <i class="icon icon-assertive ion-android-cancel" ng-click="deletePost(post)"></i>
                        </div>
                    </div>
                    <div class="row detail">
                        <div class="col">
                          <p class="content" ng-bind-html='post.text'></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </ion-content>
</ion-view>
