<div class="bar bar-header bar-positive">
  <div class="h1 title">Etkinlikler</div>
  <button class="button button-clear icon ion-android-search" ui-sref="app.search"></button>
</div>
<ion-view view-title="Etkinlikler">
  <ion-tabs class="tabs-striped tabs-background-positive tabs-color-light tabs-top">

    <ion-tab title="Başlayan Etkinlikler"   ng-click="setEvents(2)">
    </ion-tab>
    <ion-tab title="Başlayacak Etkinlikler" ng-click="setEvents(1)">

    </ion-tab>
    <ion-tab title="Etkinlik Türleri" ng-click="modal.show()">
    </ion-tab>
  </ion-tabs>
    <ion-content ng-class="{expanded:isExpanded}" class="has-subheader">
      <div class="list card" ng-repeat="event in activeEvent|eventFilter:filterProperty | orderBy: orderProperty : true">

        <div class="item item-avatar">
          <img src="{{event.image}}">
          <h2>  {{event.name}} - ({{event.type}})</h2>
          <p>{{event.createDate}}</p>
        </div>

<!--        <div class="item item-body">
          <img class="full-image" src="{{event.image}}">

          <p>
            {{event.storyOwnersUser}}
          </p>
          <p>

            <p class="item item-icon-left assertive">
          <i class="icon ion-ios-stopwatch-outline"></i>

              <timer countdown="event.decideToTime" max-time-unit="'hour'" language="tr" interval="1000">
                 {{yearUnit}} </timer> {{event.text2}}
             <i class="icon ion-android-apps"></i>
              <a class="button button-balanced" ng-show="event.removeApply" ng-href="#/app/eventapply/{{event.id}}">Başvur</a>
            </p>
          </p>
        </div> -->
        <div class="item item-body">
          <p class="item item-icon-left item-icon-right assertive">
            <i class="icon ion-ios-stopwatch-outline"></i>
            {{event.text1}}
             <timer countdown="event.decideToTime" max-time-unit="'hour'" language="tr" interval="1000">
                 {{yearUnit}} </timer> {{event.text2}}
            <i class="icon ion-android-apps"></i>
          <a class="button button-balanced" ng-if="event.removeApply" ng-href="#/app/eventapply/{{event.id}}">Başvur</a>
            <a class="button button-balanced" ng-if="event.writerEventApplyButton" ng-click="applyForWriterEvent(event.id)">Başvur</a>
          </p>
        </div>
      </div>
    </ion-content>
<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'A'">Yazar Kadrosu Etkinliği</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">Kolektif Kitap Etkinliği</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">Yazı Gönderme Etkinliği</ion-radio>
        </ion-list>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>

